<!DOCTYPE html>
<html>
<head>
	<title>Filtering Students</title>
</head>
<body>
	<h1>Filter the Students</h1>
	<p>Filter through our student database by campus location to find your new cohort mates! You can choose from:
		<ul>
			<li>New York</li>
			<li>San Francisco</li>
		</ul>
	</p>
	<form action="/students" method="POST">
	    <input type="text" name="campus" placeholder="Campus">
	    <button type="submit">Search</button>
  	</form>
</body>
</html>